.bar {
  height: 100%;
  width: 14.3%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 85.7%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  right: 0;
}
